REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_STREAMS_STT=stream:stt_tasks
REDIS_STREAMS_STT_GROUP=stt_task_group
REDIS_STREAMS_CH=stream:ch_tasks
REDIS_STREAMS_CH_GROUP=ch_task_group
REDIS_CHANNELS_COM_COMPLETED=channel:command_task_completed
SFTP_HOST=
SFTP_PORT=
SFTP_USERS_AUDIO_NAME=
SFTP_USERS_AUDIO_PASSWORD=
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
AUTH_DB_NAME=
AUTH_DB_USER=
AUTH_DB_PASSWORD=
AUTH_SERVER_ADMIN=
AUTH_SERVER_ADMIN_PASSWORD=
AUTH_CLIENT_ADMIN_ID=
AUTH_CLIENT_ADMIN_SECRET=